{% for flash_message in app.session.flashbag.get('success') %}
    <div class="alert alert-success alert-has-icon alert-dismissible show fade">
            <i class="fas fa-check mr-1"></i>
            {{ flash_message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
    </div>
{% endfor %}

{% for flash_message in app.session.flashbag.get('error') %}
    <div class="alert alert-danger alert-has-icon alert-dismissible show fade">
            <i class="fas fa-exclamation mr-1"></i>
            {{ flash_message }}
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
    </div>
{% endfor %}